In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("datasets/zomato_reviews.csv")
df

      Unnamed: 0  rating                                             review
0              0       5                                               nice
1              1       5  best biryani , so supportive staff of outlet ,...
2              2       4     delivery boy was very decent and supportive.üëåüëç
3              3       1  worst biryani i have tasted in my life, half o...
4              4       5  all food is good and tasty . will order again ...
...          ...     ...                                                ...
5474        5474       5                                           complain
5475        5475       5  it took 1 hour to assign valvet and thn prepar...
5476        5476       5  took for an hour to prepare 3 khawsa, which in...
5477        5477       1  very very late, littrally did time pass and it...
5478        5478       1  Taste was stale and they give only 5 pieces in...

[5479 rows x 3 columns]

In [3]:
df.columns

Index(['Unnamed: 0', 'rating', 'review'], dtype='object')

In [4]:
df.index

RangeIndex(start=0, stop=5479, step=1)

In [5]:
df.dtypes

Unnamed: 0     int64
rating         int64
review        object
dtype: object

In [6]:
df.drop('Unnamed: 0',axis=0)

KeyError: "['Unnamed'] not found in axis"

In [ ]:
d